@import "tailwindcss";

@theme {
  --color-primary: #042e22;

  --color-secondary: #bef4be;

  --color-accent: #f59e0b;

  --color-success: #22c55e;
  --color-danger: #ef4444;

  --color-background: #ffffff;
  --color-surface: #f9faf9;

  --color-text: #0f172a;
  --color-text-muted: #e2e8e6;

  --color-border: #718f85;
}
@layer base {
  body {
    font-family: "Inter", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Lora", serif;
  }
  button {
    @apply cursor-pointer;
  }

  small,
  .u-text-sm {
    @apply text-xs;
    @apply sm:text-sm;
  }

  p,
  span {
    @apply text-sm;
    @apply sm:text-base;
    @apply lg:text-lg;
  }

  h6 {
    @apply text-sm;
    @apply sm:text-base;
    @apply lg:text-lg;
  }

  h5 {
    @apply text-base;
    @apply sm:text-lg;
    @apply lg:text-xl;
  }

  h4 {
    @apply text-lg;
    @apply sm:text-xl;
    @apply lg:text-2xl;
  }

  h3 {
    @apply text-xl;
    @apply sm:text-2xl;
    @apply lg:text-3xl;
  }

  h2 {
    @apply text-2xl;
    @apply sm:text-3xl;
    @apply lg:text-4xl;
  }

  h1 {
    @apply text-xl;
    @apply sm:text-4xl;
    @apply md:text-5xl;
    @apply lg:text-6xl;
  }
}

@layer utilities {
  .btn-secondary {
    @apply bg-secondary text-primary font-medium whitespace-nowrap px-6 py-3;
  }
  .btn-primary {
    @apply bg-primary text-secondary font-medium whitespace-nowrap px-6 py-3;
  }

  /* header */
  .header {
    @apply fixed top-0 left-0 z-50 w-full px-10 py-2;
    @apply transition-all duration-500;
  }
  .header-light {
    @apply bg-background text-primary border-b border-black/10;
  }
  .header-dark {
    @apply bg-primary text-white border-b border-white/10;
  }

  /* Reusable Animations */
  .animate-on-scroll {
    @apply transition-all ease-in-out;
  }
  .fade-in {
    @apply opacity-0;
  }
  .slide-up {
    @apply opacity-0 translate-y-12;
  }
  .slide-left {
    @apply opacity-0 translate-x-12;
  }
  .slide-right {
    @apply opacity-0 -translate-x-12;
  }
  .zoom-in {
    @apply opacity-0 scale-95;
  }
  .animate-on-scroll.show {
    @apply opacity-100 translate-x-0 translate-y-0 scale-100;
  }
}


.track {
  @apply w-xl flex gap-6 overflow-hidden mx-auto;
}

.card {
  @apply min-w-[300px] h-[200px] bg-white flex justify-center items-center;
}
